<% @side_nav = "css" %>
<% @page_title = alert_boxes_title %>

<div class="row" id="mainContent">
  <div class="large-3 columns" role="complementary">
    <%= render "_sidebar.html.erb" %>
  </div>

  <div class="large-9 columns" role="main">
    <div class="row">
      <div class="large-12 columns">
        <h1><%= @page_title %></h1>
        <h4 class="subheader"><%= alert_boxes_description %></h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <div class="section-container tabs switcheroo" data-section="tabs" data-options="one_up: false; deep_linking: true">

          <section class="section">
            <h6 class="title" data-section-title><a href="#css">CSS</a></h6>
            <div class="content" data-slug="css">

              <h3>CSS Example</h3>

              <div data-alert class="alert-box">
                This is a standard alert.
                <a href="" class="close">&times;</a>
              </div>

<%= code_example '
<div class="alert-box" data-alert>
  <!-- Replace with your content -->
  <a href="#" class="close">&times;</a>
</div>', :html %>

              <hr>

              <h3>Available Classes</h3>

              <h6>Default Class</h6>
              <ul>
                <li><code>alert-box:</code> Contains all the default styles for an alert box.</li>
              </ul>

              <h6>Color Modifier Classes</h6>
              <ul>
                <li><code>success:</code> Turn the background green, great for success messages.</li>
                <li><code>alert:</code> Turn the background red, great for error messages.</li>
                <li><code>secondary:</code> Turn the background gray, great for subtle messages.</li>
              </ul>

              <h6>Style Modifier Classes</h6>
              <ul>
                <li><code>radius:</code> Add a 3px radius to the corners.</li>
                <li><code>round:</code> Add a 1000px radius to the corners, making it look like a pill.</li>
              </ul>

              <div data-alert class="alert-box success">
                class="alert-box success"
                <a href="" class="close">&times;</a>
              </div>

              <div data-alert class="alert-box alert">
                class="alert-box alert"
                <a href="" class="close">&times;</a>
              </div>

              <div data-alert class="alert-box secondary">
                class="alert-box secondary"
                <a href="" class="close">&times;</a>
              </div>

              <div data-alert class="alert-box radius">
                class="alert-box radius"
                <a href="" class="close">&times;</a>
              </div>

              <div data-alert class="alert-box round success">
                class="alert-box round success"
                <a href="" class="close">&times;</a>
              </div>

              <hr>

              <h3>The Close Button</h3>
              <p>If you don't want people to have access to a close button, simply leave out the anchor and the <code>data-alert</code> attribute, like so:</p>

              <div class="alert-box">
                Neener, neener, neener. You can't close me!
              </div>

<%= code_example '
<div class="alert-box">
  <!-- Replace with your content -->
</div>', :html %>

            </div>
          </section>

          <section class="section">
            <h6 class="title" data-section-title><a href="#scss">SCSS</a></h6>
            <div class="content" data-slug="scss">

              <h3>SCSS Mixin Example</h3>

              <div data-alert class="alert-box">
                This is a standard alert.
                <a href="" class="close">&times;</a>
              </div>

<%= code_example '
<div class="your-class" data-alert>
  <!-- Replace with your content -->
  <a href="#" class="close">&times;</a>
</div>', :html %>

<%= code_example '
.your-class { @include alert;
  .close { @include alert-close; }
}
', :css %>

              <hr>

              <h3>Mixin Options</h3>

              <ul>
                <li><code>$bg:</code> Control the background color of the alert box. This also changes the font color based on bg-lightness.</li>
              </ul>

              <div data-alert class="alert-base custom-bg">
                @include alert($bg: #ff6c3c);
                <a href="" class="close">&times;</a>
              </div>

              <div data-alert class="alert-base custom-bg-lt">
                @include alert($bg: #eee);
                <a href="" class="close">&times;</a>
              </div>

<%= code_example '
.your-class { @include alert($bg: your-color); }
', :css %>

              <hr>

              <h3>Internal Mixins</h3>

              <ul>
                <li><code>@include alert-base;</code> Create the basic structure of an alert box.</li>
                <li><code>@include alert-style($bg);</code> Add the default style of an alert box.
                  <ul>
                    <li><code>$bg</code> Set to any hex value, controls background, border and font-color.</li>
                  </ul>
                </li>
              </ul>

              <div data-alert class="alert-base">@include alert-base;</div>

              <div data-alert class="alert-base bg">alert-style($bg)</div>

              <div data-alert class="alert-base custom-bg">
                @include alert($bg: #ff6c3c);
              </div>

<%= code_example '
.your-class {
  @include alert-base;
  @include alert-style($bg: your-color);
}
', :css %>

              <hr>

              <h3>Close Button Mixin</h3>
              <p>Include the close button markup and <code>data-alert</code> attribute. Remove the anchor and data-attribute if you don't want people to be able to close it.</p>

              <div data-alert class="alert-base">&nbsp;
                <a href="#" class="close">&times;</a>
              </div>

<%= code_example '
.your-class { @include alert-base;
  .close { @include alert-close; }
}', :css %>

              <hr>

              <h3>Default SCSS Variables</h3>

              <ul>
                <li><code>$alert-padding-top:</code> Top padding for the alert boxes.</li>
                <li><code>$alert-padding-right:</code> Right padding for the alert boxes.</li>
                <li><code>$alert-padding-bottom:</code> Bottom padding for the alert boxes.</li>
                <li><code>$alert-padding-left:</code> Left padding for the alert boxes.</li>
                <li><code>$alert-font-weight</code> Font weight for text inside alert boxes.</li>
                <li><code>$alert-font-size:</code> Font size for text inside alert boxes.</li>
                <li><code>$alert-font-color:</code> Font color for text inside alert boxes when the background is dark enough.</li>
                <li><code>$alert-font-color-alt:</code> Font color for text inside alert boxes when the background is light enough.</li>
                <li><code>$alert-function-factor:</code> The percentage to change colors on hover, etc.</li>
                <li><code>$alert-border-style:</code> Border style for alert boxes.</li>
                <li><code>$alert-border-width:</code> Border width for alert boxes.</li>
                <li><code>$alert-border-color:</code> Border color for alert boxes.</li>
                <li><code>$alert-bottom-margin:</code> Space below alert boxes.</li>
                <li><code>$alert-close-color:</code> Font color for the close button.</li>
                <li><code>$alert-close-position:</code> How far from the edge is the close button?</li>
                <li><code>$alert-close-font-size:</code> Font size for the close button.</li>
                <li><code>$alert-close-opacity:</code> Default opacity for the close button.</li>
                <li><code>$alert-close-opacity-hover</code> Hover opacity for the close button.</li>
                <li><code>$alert-close-padding:</code> Set the padding around the close buttons to create bigger hit area.</li>
              </ul>

            </div>
          </section>

          <section class="section">
            <h6 class="title" data-section-title><a href="#js">JS</a></h6>
            <div class="content" data-slug="js">

              <h3>Initialization</h3>
              <ul>
                <li><code>$(document).foundation();</code></li>
                <li><code>$(document).foundation('alerts');</code></li>
                <li><code>$('#id').foundation('alert');</code></li>
                <li><code>$('.class').foundation('alert');</code></li>
              </ul>

<%= code_example '
// Code Example', :js %>

              <hr>

              <h3>Configuration (Settings)</h3>
              <ul>
                <li>$(document).foundation('alerts', {speed: 500});</li>
                <li>data-options="speed:500"</li>
              </ul>

<%= code_example '
// Code Example', :js %>

              <hr>

              <h3>Loading After Page Loads</h3>
              <ul>
                <li>$(document).foundation('alerts', 'reflow');</li>
              </ul>

<%= code_example '
// Code Example', :js %>

              <hr>

              <h3>Public Methods</h3>
              <ul>
                <li>reflow, close</li>
                <li>Options, bulleted</li>
                <li>Examples in code</li>
              </ul>

<%= code_example '
// Code Example', :js %>

              <hr>

              <h3>Callbacks &amp; Events</h3>
              <ul>
                <li>Callback function?</li>
                <li>Event Callback</li>
              </ul>

<%= code_example '
// Code Example', :js %>

            </div>
          </section>
        </div>

        <hr>

        <div class="panel next-step">
          <div class="row">
            <h4 class="large-6 columns">Next: Navigate Like a Boss</h4>
            <ul class="inline-list large-6 columns">
              <li><a class="small secondary button" href="#">Top Bar Docs &rarr;</a></li>
              <li class="show-for-small"><a class="small button" href="#">Download</a></li>
              <li class="hide-for-small"><a class="small button" href="#">Download Foundation</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>

