<% @side_nav = "css" %>
<% @page_title = title_for('grid') %>

<div class="row" id="mainContent">
  <div class="large-3 columns" role="complementary">
    <%= render "_sidebar.html.erb" %>
  </div>

  <div class="large-9 columns" role="main">
    <div class="row">
      <div class="large-12 columns">
        <h1><%= @page_title %></h1>
        <h4 class="subheader"><%= description_for('grid') %></h4>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">

        <div class="section-container tabs switcheroo" data-section="tabs" data-options="one_Up: false; deep_linking: true">

          <section class="section">
            <h6 class="title" data-section-title><a href="#css">CSS</a></h6>
            <div class="content" data-slug="css">
              <h3>Using the CSS Grid</h3>

              <div class="row display">
                <div class="small-4 columns">small-4</div>
                <div class="small-4 columns">small-4</div>
                <div class="small-4 columns">small-4</div>
              </div>
              <div class="row display">
                <div class="medium-6 columns">medium-6</div>
                <div class="medium-6 columns">medium-6</div>
              </div>
              <div class="row display">
                <div class="large-2 columns">large-2</div>
                <div class="large-2 columns">large-2</div>
                <div class="large-2 columns">large-2</div>
                <div class="large-2 columns">large-2</div>
                <div class="large-2 columns">large-2</div>
                <div class="large-2 columns">large-2</div>
              </div>
              <p><em><strong>Note: </strong>The grid examples on this page has styles on them to help show structure. The dashed lines represent rows and the blue background areas represent columns.</em></p>

<%= code_example '
<div class="row">
  <div class="small-4 columns">small-4</div>
  <div class="small-4 columns">small-4</div>
  <div class="small-4 columns">small-4</div>
</div>
<div class="row">
  <div class="medium-6 columns">medium-6</div>
  <div class="medium-6 columns">medium-6</div>
</div>
<div class="row">
  <div class="large-2 columns">large-2</div>
  <div class="large-2 columns">large-2</div>
  <div class="large-2 columns">large-2</div>
  <div class="large-2 columns">large-2</div>
  <div class="large-2 columns">large-2</div>
  <div class="large-2 columns">large-2</div>
</div>', :html %>

              <hr>

              <h3>Grid Basics</h3>

              <h6>Classes</h6>
              <ul>
                <li><code>row:</code> Creats a division of the page that will contain columns. This must be wrapped around columns.</li>
                <li><code>collapse:</code> Chain to a row class like the examples on this page show to remove default gutters.</li>
              </ul>
              <div class="row display" style="padding: 20px;"></div>

              <hr>

              <h3>Small Grid Columns</h3>

              <h6>Classes</h6>
              <p>By using only the small grid your design will hold its layout through all the breakpoints.</p>
              <ul>
                <li><code>column(s):</code> Used inside or rows to create columns in your layout, should be chained to other column classes.</li>
                <li><code>small-#:</code> "#" can be 1-12 . Tis controls the width of the column.</li>
                <li><code>small-offset-#:</code> "#" can be 1-10. Pushes columns over by altering margins and should be chained.</li>
                <li><code>small-centered:</code> Center a single column inside a row. This shoudl be chained to other column classes.</li>
              </ul>
              <div class="row display">
                <div class="small-3 columns">small-3</div>
                <div class="small-3 columns">small-3</div>
                <div class="small-3 columns">small-3</div>
                <div class="small-3 columns">small-3</div>
              </div>
              <div class="row display">
                <div class="small-3 columns">small-3</div>
                <div class="small-3 small-offset-6 columns">small-3 offset-6</div>
              </div>
              <div class="row display">
                <div class="small-6 small-centered columns">small-3 centered</div>
              </div>
<%= code_example '
<div class="row display">
  <div class="small-3 columns">small-3</div>
  <div class="small-3 columns">small-3</div>
  <div class="small-3 columns">small-3</div>
  <div class="small-3 columns">small-3</div>
</div>
<div class="row display">
  <div class="small-3 columns">small-3</div>
  <div class="small-3 small-offset-6 columns">small-3 offset-6</div>
</div>
<div class="row display">
  <div class="small-6 small-centered columns">small-3 centered</div>
</div>', :html %>

              <hr>

              <h3>Medium Grid Columns</h3>

              <h6>Classes</h6>
              <p>By using only the medium grid your columns will hold its layout through the large breakpoints and stack below the medium breakpoint.</p>
              <ul>
                <li><code>medium-#:</code> "#" can be 1-12. This controls the width of the column.</li>
                <li><code>medium-offset-#:</code> "#" can be 1-10. Pushes columns over by altering margins and should be chained.</li>
                <li><code>medium-centered:</code> Center a single column inside a row. This shoudl be chained to other column classes.</li>
                <li><code>medium-uncentered:</code> If you've set the small column to be centered and want to stop that for the medium breakpoint, use this class.</li>
                <li><code>medium-push-#:</code> "#" can be 1-11. Push the source ordering of content to the left for our medium breakpoint.</li>
                <li><code>medium-pull-#:</code> "#" can be 1-11. Pull the source ordering of content to the right for our medium breakpoint.</li>
              </ul>
              <div class="row display">
                <div class="medium-3 columns">medium-3</div>
                <div class="medium-3 columns">medium-3</div>
                <div class="medium-3 columns">medium-3</div>
                <div class="medium-3 columns">medium-3</div>
              </div>
              <div class="row display">
                <div class="medium-3 columns">medium-3</div>
                <div class="medium-3 medium-offset-6 columns">medium-3 offset-6</div>
              </div>
              <div class="row display">
                <div class="medium-6 medium-centered columns">medium-3 centered</div>
              </div>
              <div class="row display">
                <div class="small-6 small-centered medium-uncentered columns">small-6 centered, medium uncentered</div>
              </div>
              <div class="row display">
                <div class="small-3 columns medium-push-9">small-3, medium-push-9</div>
                <div class="small-9 columns medium-pull-3">small-9, medium-pull-3</div>
              </div>
<%= code_example '
<div class="row display">
  <div class="medium-3 columns">medium-3</div>
  <div class="medium-3 columns">medium-3</div>
  <div class="medium-3 columns">medium-3</div>
  <div class="medium-3 columns">medium-3</div>
</div>
<div class="row display">
  <div class="medium-3 columns">medium-3</div>
  <div class="medium-3 medium-offset-6 columns">medium-3 offset-6</div>
</div>
<div class="row display">
  <div class="medium-6 medium-centered columns">medium-3 centered</div>
</div>
<div class="row display">
  <div class="small-6 small-centered medium-uncentered columns">small-6 centered, medium uncentered</div>
</div>
<div class="row display">
  <div class="small-3 columns medium-push-9">small-3, medium-push-9</div>
  <div class="small-9 columns medium-pull-3">small-9, medium-pull-3</div>
</div>', :html %>

              <hr>

              <h3>Large Grid Columns</h3>

              <h6>Classes</h6>
              <p>By using only the large grid your columns will stack below the large breakpoint.</p>
              <ul>
                <li><code>large-#:</code> "#" can be 1-12. This controls the width of the column.</li>
                <li><code>large-offset-#:</code> "#" can be 1-10. Pushes columns over by altering margins and should be chained.</li>
                <li><code>large-centered:</code> Center a single column inside a row. This shoudl be chained to other column classes.</li>
                <li><code>large-uncentered:</code> If you've set the small column to be centered and want to stop that for the large breakpoint, use this class.</li>
                <li><code>large-push-#:</code> "#" can be 1-11. Push the source ordering of content to the left for our large breakpoint.</li>
                <li><code>large-pull-#:</code> "#" can be 1-11. Pull the source ordering of content to the right for our large breakpoint.</li>
              </ul>
              <div class="row display">
                <div class="large-3 columns">large-3</div>
                <div class="large-3 columns">large-3</div>
                <div class="large-3 columns">large-3</div>
                <div class="large-3 columns">large-3</div>
              </div>
              <div class="row display">
                <div class="large-3 columns">large-3</div>
                <div class="large-3 large-offset-6 columns">large-3 offset-6</div>
              </div>
              <div class="row display">
                <div class="large-6 large-centered columns">large-3 centered</div>
              </div>
              <div class="row display">
                <div class="small-6 small-centered large-uncentered columns">small-6 centered, large uncentered</div>
              </div>
              <div class="row display">
                <div class="small-3 columns large-push-9">small-3, large-push-9</div>
                <div class="small-9 columns large-pull-3">small-9, large-pull-3</div>
              </div>
<%= code_example '
<div class="row display">
  <div class="large-3 columns">large-3</div>
  <div class="large-3 columns">large-3</div>
  <div class="large-3 columns">large-3</div>
  <div class="large-3 columns">large-3</div>
</div>
<div class="row display">
  <div class="large-3 columns">large-3</div>
  <div class="large-3 large-offset-6 columns">large-3 offset-6</div>
</div>
<div class="row display">
  <div class="large-6 large-centered columns">large-3 centered</div>
</div>
<div class="row display">
  <div class="small-6 small-centered large-uncentered columns">small-6 centered, large uncentered</div>
</div>
<div class="row display">
  <div class="small-3 columns large-push-9">small-3, large-push-9</div>
  <div class="small-9 columns large-pull-3">small-9, large-pull-3</div>
</div>', :html %>

              <hr>

              <h3>Nesting the Grid</h3>
              <p>You can nest rows within columns as deep as you'd like, but at some point those columns are going to be really small.</p>
              <div class="row display no-bottom">
                <div class="small-9 columns">small-9

                  <div class="row">
                    <div class="small-4 columns">small-4</div>
                    <div class="small-4 columns">small-4</div>
                    <div class="small-4 columns">small-4</div>
                  </div>

                </div>
                <div class="small-3 columns">small-3</div>
              </div>
<%= code_example '
<div class="row">
  <div class="small-9 columns">
    small-9

    <div class="row">
      <div class="small-4 columns">small-4</div>
      <div class="small-4 columns">small-4</div>
      <div class="small-4 columns">small-4</div>
    </div>

  </div>
  <div class="small-3 columns">small-3</div>
</div>', :html %>

            </div>
          </section>

          <section class="section">
            <h6 class="title" data-section-title><a href="#scss">SCSS</a></h6>
            <div class="content" data-slug="scss">
              <h3>SCSS Example</h3>
            </div>
          </section>

        </div>
      </div>
    </div>
  </div>
</div>
