<div class="all-elements">

  <div class="row">
    <a class="close-all-elements" href="#">&times;</a>
    <div class="large-3 columns">
      <h4>Grid &amp; Layout</h4>
    </div>
    <div class="large-9 columns">
      <ul class="mega-list">
        <li><a href="#">
          <h6><%= grid_title %></h6>
          <p><%= grid_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= block_grid_title %></h6>
          <p><%= block_grid_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= media_queries_title %></h6>
          <p><%= media_queries_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= visibility_title %></h6>
          <p><%= visibility_description %></p>
        </a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <h4>Navigation</h4>
    </div>
    <div class="large-9 columns">
      <ul class="mega-list">
        <li><a href="#">
          <h6><%= pagination_title %></h6>
          <p><%= pagination_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= side_nav_title %></h6>
          <p><%= side_nav_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= sub_nav_title %></h6>
          <p><%= sub_nav_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= top_bar_title %></h6>
          <p><%= top_bar_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= breadcrumbs_title %></h6>
          <p><%= breadcrumbs_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= dropdown_title %></h6>
          <p><%= dropdown_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= magellan_title %></h6>
          <p><%= magellan_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= joyride_title %></h6>
          <p><%= joyride_description %></p>
        </a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <h4>Buttons</h4>
    </div>
    <div class="large-9 columns">
      <ul class="mega-list">
        <li><a href="#">
          <h6><%= buttons_title %></h6>
          <p><%= buttons_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= button_groups_title %></h6>
          <p><%= button_groups_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= dropdown_buttons_title %></h6>
          <p><%= dropdown_buttons_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= split_buttons_title %></h6>
          <p><%= split_buttons_description %></p>
        </a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <h4>Forms</h4>
    </div>
    <div class="large-9 columns">
      <ul class="mega-list">
        <li><a href="#">
          <h6><%= forms_title %></h6>
          <p><%= forms_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= custom_forms_title %></h6>
          <p><%= custom_forms_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= switch_title %></h6>
          <p><%= block_grid_description %></p>
        </a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <h4>Typography</h4>
    </div>
    <div class="large-9 columns">
      <ul class="mega-list">
        <li><a href="#">
          <h6><%= typography_title %></h6>
          <p><%= typography_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= inline_lists_title %></h6>
          <p><%= inline_lists_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= labels_title %></h6>
          <p><%= labels_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= keystrokes_title %></h6>
          <p><%= keystrokes_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= tooltips_title %></h6>
          <p><%= block_grid_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= rtl_title %></h6> <!-- Old Title: Right-to-Left Support -->
          <p><%= rtl_description %></p>
        </a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <h4>UI Components</h4>
    </div>
    <div class="large-9 columns">
      <ul class="mega-list">
        <li><a href="#">
          <h6><%= alert_boxes_title %></h6>
          <p><%= alert_boxes_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= panels_title %></h6>
          <p><%= panels_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= pricing_tables_title %></h6>
          <p><%= pricing_tables_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= progress_bars_title %></h6>
          <p><%= progress_bars_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= tables_title %></h6>
          <p><%= tables_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= thumbnails_title %></h6>
          <p><%= thumbnails_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= flex_video_title %></h6>
          <p><%= flex_video_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= orbit_title %></h6>
          <p><%= orbit_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= reveal_title %></h6>
          <p><%= rtl_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= sections_title %></h6>
          <p><%= sections_description %></p>
        </a></li>
        <li><a href="#">
          <h6><%= clearing_title %></h6>
          <p><%= clearing_description %></p>
        </a></li>
      </ul>
    </div>
  </div>

</div>