<div class="docs-sidebar section-container accordion" data-section="accordion" data-options="one_up: false">
  <section class="show-for-small section <%= @side_nav == 'using' ? 'active': '' %>">
    <p class="title"><a href="#">Main Nav</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="#">Features</a></li>
        <li><a href="#">Add-ons</a></li>
        <li><a href="#">Case Studies</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Training</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'using' ? 'active': '' %>">
    <p class="title"><a href="#">Getting Started</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a href="../">What is Foundation?</a></li>
        <li><a href="../css.html">Start with CSS</a></li>
        <li><a href="../sass.html">Start with Scss</a></li>
        <li><a href="../rails.html">Start with Rails</a></li>
        <li><a href="../javascript.html">JS Overview</a></li>
        <li><a href="../javascript.html">All Components</a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'grid' ? 'active': '' %>">
    <p class="title"><a href="#">Grid &amp; Layout</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == grid_title ? 'active': '' %>" href="grid.html"><%= grid_title %></a></li>
        <li><a class="<%= @page_title == block_grid_title ? 'active': '' %>" href="block-grid.html"><%= block_grid_title %></a></li>
        <li><a href="../media-queries.html">Media Queries</a></li>
        <li><a class="<%= @page_title == visibility_title ? 'active': '' %>" href="visibility.html"><%= visibility_title %></a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'nav' ? 'active': '' %>">
    <p class="title"><a href="#">Navigation</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == pagination_title ? 'active': '' %>" href="pagination.html"><%= pagination_title %></a></li>
        <li><a class="<%= @page_title == side_nav_title ? 'active': '' %>" href="side-nav.html"><%= side_nav_title %></a></li>
        <li><a class="<%= @page_title == sub_nav_title ? 'active': '' %>" href="sub-nav.html"><%= sub_nav_title %></a></li>
        <li><a class="<%= @page_title == top_bar_title ? 'active': '' %>" href="top-bar.html"><%= top_bar_title %></a></li>
        <li><a class="<%= @page_title == breadcrumbs_title ? 'active': '' %>" href="breadcrumbs.html"><%= breadcrumbs_title %></a></li>
        <li><a class="<%= @page_title == dropdown_title ? 'active': '' %>" href="dropdown.html"><%= dropdown_title %></a></li>
        <li><a class="<%= @page_title == magellan_title ? 'active': '' %>" href="magellan.html"><%= magellan_title %></a></li>
        <li><a class="<%= @page_title == joyride_title ? 'active': '' %>" href="joyride.html"><%= joyride_title %></a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'buttons' ? 'active': '' %>">
    <p class="title"><a href="#">Buttons</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == buttons_title ? 'active': '' %>" href="buttons.html"><%= buttons_title %></a></li>
        <li><a class="<%= @page_title == button_groups_title ? 'active': '' %>" href="button-groups.html"><%= button_groups_title %></a></li>
        <li><a class="<%= @page_title == dropdown_buttons_title ? 'active': '' %>" href="dropdown-buttons.html"><%= dropdown_buttons_title %></a></li>
        <li><a class="<%= @page_title == split_buttons_title ? 'active': '' %>" href="split-buttons.html"><%= split_buttons_title %></a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'forms' ? 'active': '' %>">
    <p class="title"><a href="#">Forms</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == forms_title ? 'active': '' %>" href="forms.html"><%= forms_title %></a></li>
        <li><a class="<%= @page_title == custom_forms_title ? 'active': '' %>" href="custom-forms.html"><%= custom_forms_title %></a></li>
        <li><a class="<%= @page_title == switch_title ? 'active': '' %>" href="switch.html"><%= switch_title %></a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'type' ? 'active': '' %>">
    <p class="title"><a href="#">Typography</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == typography_title ? 'active': '' %>" href="type.html"><%= typography_title %></a></li>
        <li><a class="<%= @page_title == inline_lists_title ? 'active': '' %>" href="inline-lists.html"><%= inline_lists_title %></a></li>
        <li><a class="<%= @page_title == labels_title ? 'active': '' %>" href="labels.html"><%= labels_title %></a></li>
        <li><a class="<%= @page_title == keystrokes_title ? 'active': '' %>" href="keystrokes.html"><%= keystrokes_title %></a></li>
        <li><a class="<%= @page_title == tooltips_title ? 'active': '' %>" href="tooltips.html"><%= tooltips_title %></a></li>
        <li><a href="<%= @page_title == rtl_title ? 'active': '' %>" href="../rtl.html"><%= rtl_title %></a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @side_nav == 'css' ? 'active': '' %>">
    <p class="title"><a href="#">UI Components</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="<%= @page_title == 'Global' ? 'active': '' %>" href="global.html">Global Styles</a></li>
        <li><a class="<%= @page_title == alert_boxes_title ? 'active': '' %>" href="alert-boxes.html"><%= alert_boxes_title %></a></li>
        <li><a class="<%= @page_title == panels_title ? 'active': '' %>" href="panels.html"><%= panels_title %></a></li>
        <li><a class="<%= @page_title == pricing_tables_title ? 'active': '' %>" href="pricing-tables.html"><%= pricing_tables_title %></a></li>
        <li><a class="<%= @page_title == progress_bars_title ? 'active': '' %>" href="progress-bars.html"><%= progress_bars_title %></a></li>
        <li><a class="<%= @page_title == tables_title ? 'active': '' %>" href="tables.html"><%= tables_title %></a></li>
        <li><a class="<%= @page_title == thumbnails_title ? 'active': '' %>" href="thumbnails.html"><%= thumbnails_title %></a></li>
        <li><a class="<%= @page_title == flex_video_title ? 'active': '' %>" href="flex-video.html"><%= flex_video_title %></a></li>
        <li><a class="<%= @page_title == orbit_title ? 'active': '' %>" href="orbit.html"><%= orbit_title %></a></li>
        <li><a class="<%= @page_title == reveal_title ? 'active': '' %>" href="reveal.html"><%= reveal_title %></a></li>
        <li><a class="<%= @page_title == sections_title ? 'active': '' %>" href="section.html"><%= sections_title %></a></li>
        <li><a class="<%= @page_title == clearing_title ? 'active': '' %>" href="clearing.html"><%= clearing_title %></a></li>
      </ul>
    </div>
  </section>
  <section class="section <%= @page_title == 'FAQ' ? 'active': '' %>">
    <p class="title"><a href="../faq.html">FAQ &amp; Support</a></p>
    <div class="content">
      <ul class="side-nav">
        <li><a class="" href="faq.html">FAQ</a></li>
        <li><a class="" href="support.html">Support</a></li>
        <li><a class="" href="changelog.html">Changelog</a></li>
      </ul>
    </div>
  </section>
</div>

<p><a href="http://foundation.zurb.com/download.php" class="button expand" style="margin-bottom: 0;">Get Foundation 4</a></p>

<div class="jobs hide-for-small">
  <h5>Awesome product jobs:</h5>
  <div id="zurbJobsWidget"></div>
  <a id="via" href="http://zurbjobs.com">via&nbsp;<span class="jobs-link">ZURBjobs</span></a>
</div>
